<div class="main-container">
  <!-- <div class="alert alert-app-level">...</div> -->
  <header class="header-5">
    <div class="branding">
      <a href="..." class="nav-link">
        <cds-icon shape="user"></cds-icon>
        <span class="title">Welcome to Clarity Design</span>
      </a>
    </div>
    <div class="header-actions">
      <clr-dropdown>
        <button
          class="nav-text"
          clrDropdownTrigger
          aria-label="open user profile"
        >
          surachai sriaram
          <cds-icon shape="angle" direction="down"></cds-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="..." clrDropdownItem>Preferences</a>
          <a href="..." clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </header>
  <nav class="subnav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link active" href="javascript://">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Cloud</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="javascript://">Tenants</a>
      </li>
    </ul>
  </nav>
  <div class="content-container">
    <div class="content-area">
      <button class="btn">Regular</button>
      <button class="btn btn-primary">Primary</button>
      <button class="btn btn-success">Success</button>
      <button class="btn btn-info">Info</button>
      <button class="btn btn-warning">Warning</button>
      <button class="btn btn-danger">Danger</button>
      <button class="btn" disabled>Disabled</button>
      <router-outlet></router-outlet>
    </div>
    <clr-vertical-nav
      [clrVerticalNavCollapsible]="true"
      [(clrVerticalNavCollapsed)]="collapsed"
    >
      <a clrVerticalNavLink routerLink="./normal" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="user"></cds-icon>
        Normal
      </a>
      <a clrVerticalNavLink routerLink="./electric" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bolt"></cds-icon>
        Electric
      </a>
      <a clrVerticalNavLink routerLink="./poison" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="sad-face"></cds-icon>
        Poison
      </a>
      <a clrVerticalNavLink routerLink="./grass" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bug"></cds-icon>
        Grass
      </a>
      <a clrVerticalNavLink routerLink="./fighting" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="shield"></cds-icon>
        Fighting
      </a>
      <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="certificate"></cds-icon>
        Credit
      </a>
    </clr-vertical-nav>
  </div>
</div>
